
body {
	background: white;
	margin: 0;
	font-family: 'Short Stack', cursive;
}

#container{
	background-color: #FFB973;
	border: 3px solid #BE650E; 
	max-width: 760px; 
	margin: 0 auto;
	padding-bottom: 50px; 
}

table{
	margin: 0 auto; 
}

td{
	border: 1px solid black; 
	padding: 5px; 
	background-color: white; 
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
}

img{
	width: 1.6em; 
	height: 1.6em;
}

h1{
	color: #BE650E;
	text-align: center;
	font-size: 4em;
	margin: 20px;
	text-shadow: 1px 1px rgba(0, 0, 0, .9);
	
}

p{
	text-align: center; 
	color: #BE650E;
	text-shadow: 1px 1px rgba(0, 0, 0, .9);
}

#play {
	text-align: center; 

}

input{
	font-family: 'Short Stack', cursive;
	font-size: 16px; 
}


