#content{
	border: 3px solid #393832; 
	max-width: 760px; 
	padding-bottom: 50px; 
	background-color: #FFF0AB;
	border-radius: 15px; 
}

p, input, h1, h3, h2 {
	margin-left: 20px; 
}

h1,h2, h3 {
	font-family: Helvetica; 
	color: #403C2B;
}

h2{
	border-top: 1px solid black;
	margin-right: 20px;
	margin-bottom: 5px; 
}

h3{
	font-size: 1.4em;
}

p, input, li {
	font-family: Georgia; 
	font-size: 1.3em; 
}

li{
	list-style-type: none; 
	padding-left: 10px; 
}

ul{
	padding-left: 10px; 
	margin-top: 5px; 
}

#send{
	margin: 0; 
}