.games{
	background-color: #FFB973;
	font-family: 'Short Stack', cursive;
	padding: 10px; 
	padding-bottom: 20px;
	border: 1px solid black;
	height: 380px; 
	width: 320px;
}

.games table{
	margin: 0 auto; 
}

.games td{
	border: 1px solid black; 
	padding: 5px; 
	background-color: white; 
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
}

.games img{
	width: 1.6em; 
	height: 1.6em;
}

.games h1{
	color: #BE650E;
	text-align: center;
	font-size: 3em;
	margin: 20px;
	text-shadow: 1px 1px rgba(0, 0, 0, .9);
	
}

.games p{
	text-align: center; 
	color: #BE650E;
	text-shadow: 1px 1px rgba(0, 0, 0, .9);
}

input{
	font-family: 'Short Stack', cursive;
	font-size: 16px; 
}

.memWindow .windowHeader {
	background-image: url(../pics/icons/1420585292_Game_Center.png); 
	background-repeat: no-repeat;
	background-position: 2px 2xp; 
	background-size: 8%;  
	padding: 2px; 
	box-shadow: none; 
}

