body{
	margin: 0;
}

#bg{
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%; 
	height: 200%; 
}

#bg img{
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto;
	min-width: 50%; 
	min-height: 50%; 
}

#menu{
	position: absolute;
	bottom: 0px; 
	width: 100%; 
	background: #3C3934; 
	opacity: 0.8; 
	font-weight: bold; 
	border-top: 3px solid black; 
}

#menu ul{
	float: left; 
	margin: 0; padding: 0;
	list-style-type: none; 
}

#menu li{
	display: inline; 
}

a .icon{ 
	transition: all .2s ease-in-out; 
}

a:hover .icon, a:focus .icon{
	-webkit-transform: scale(1.1) translate(5px, -10px); 
	-moz-transform: scale(1.1) translate(5px, -10px); 
	transform: scale(1.1) translate(5px, -10px); 
}

.icon{
	width: 20%; 
	padding: 4px; 
}

/*Klassnamn som gäller för alla fönster?*/
.imgWindow{
	background: white; 
	margin: auto;
	border: 2px solid black;
	text-align: center; 
	-moz-box-shadow: 5px 5px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, .3);
	box-shadow: 5px 5px 3px rgba(0, 0, 0, .3);
	position: relative;
	z-index: 10;
	padding: 10px; 
	max-width: 500px; 
	height: 200px; 
	margin: 20px 20px;
}

